<nav
  class="h-14 bg-slate-100 shadow-md flex items-center justify-between px-5 lg:px-[10rem] xl:px-[15rem]"
>
  <div
    class="size-10 rounded-full bg-blue-500 flex justify-center items-center hover:cursor-pointer"
    (onClick)="navigateToHome()"
  >
    <span class="pi pi-home text-slate-200 text-xl"></span>
  </div>
  <button
    class="shadow-md p-2 rounded-md hover:cursor-pointer text-blue-500"
    (click)="showDialog()"
  >
    Add Workout
  </button>
</nav>
<div>
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    closable="false"
    [draggable]="false"
  >
    <ng-template pTemplate="header">
      <p class="font-semibold text-xl">Add Your Challenge</p>
    </ng-template>
    <form
      [formGroup]="workoutAddingForm"
      (submit)="handleWorkoutAddition()"
      class="mt-5 flex flex-col gap-8"
    >
      <div>
        <p-floatLabel class="rounded-md">
          <input
            class="w-full p-2 border"
            id="username"
            type="text"
            pInputText
            [ngClass]="{
              'border-rose-600 outline outline-1 outline-rose-600':
                isInValidField('username')
            }"
            formControlName="username"
          />
          <label for="username">Username</label>
        </p-floatLabel>
        <small class="text-rose-600" *ngIf="isInValidField('username')"
          >username is required</small
        >
      </div>
      <div>
        <p-floatLabel class="rounded-md">
          <input
            class="w-full p-2 border"
            id="workout_type"
            type="text"
            pInputText
            formControlName="workout_type"
            [ngClass]="{
              'border-rose-600 outline outline-1 outline-rose-600':
                isInValidField('workout_type')
            }"
          />
          <label for="workout_type">Workout Type</label>
        </p-floatLabel>
        <small class="text-rose-600" *ngIf="isInValidField('workout_type')"
          >Workout type is required</small
        >
      </div>
      <div>
        <p-floatLabel class="rounded-md">
          <input
            class="w-full p-2 border"
            id="workout_minute"
            type="number"
            pInputText
            formControlName="workout_minute"
            [ngClass]="{
              'border-rose-600 outline outline-1 outline-rose-600':
                isInValidField('workout_minute')
            }"
          />
          <label for="workout_minute">Workout Minute</label>
        </p-floatLabel>
        <small class="text-rose-600" *ngIf="isInValidField('workout_minute')"
          >Workout minute is required and must be a number</small
        >
      </div>
    </form>
    <ng-template pTemplate="footer">
      <button
        class="outline-none px-4 mx-1 py-2 shadow-sm rounded-md bg-slate-100 text-sm"
        (click)="hideDialog()"
      >
        Cancel
      </button>
      <button
        class="outline-none px-4 mx-1 py-2 shadow-sm rounded-md {{
          !workoutAddingForm.valid
            ? 'bg-blue-300 text-gray-200'
            : 'bg-blue-400 text-white'
        }} text-sm"
        (click)="handleWorkoutAddition()"
        type="submit"
        [disabled]="!workoutAddingForm.valid"
      >
        Save
      </button>
    </ng-template>
  </p-dialog>
</div>
